@import '../../style/vars.less';

@toastPrefix: dora-toast;

.@{toastPrefix}-container {
  .@{toastPrefix}-content {
    background-color: @toast-fill;
    border-radius: @radius-sm;
    min-width: 60 * @hd;
    color: @color-text-base-inverse;
    line-height: @line-height-paragraph;
    padding: @v-spacing-md @h-spacing-lg;
    text-align: center;
    font-size: 14px;
  }

  .@{toastPrefix}-icon {
    border-radius: @radius-md;
    margin-bottom: @v-spacing-sm;
  }
}
