@import '../../style/vars.less';

@toastPrefix: dora-toast;

.@{toastPrefix}-container {
  .dora-popup-content {
    border-radius: @radius-sm;
    overflow: hidden;
  }

  .@{toastPrefix}-content {
    min-width: 60 * @hd;
    color: @color-text-base-inverse;
    line-height: @line-height-paragraph;
    padding: @v-spacing-md @h-spacing-lg;
    text-align: center;
  }

  .@{toastPrefix}-icon {
    border-radius: @radius-md;
    margin-bottom: @v-spacing-sm;
  }
}
