@import '../../style/vars.less';

.dora-icon {
  overflow: hidden;
  vertical-align: -0.15em;
  fill: currentColor;

  &-sm {
    width: @icon-size-sm;
    height: @icon-size-sm;
  }

  &-md {
    width: @icon-size-md;
    height: @icon-size-md;
  }

  &-lg {
    width: @icon-size-lg;
    height: @icon-size-lg;
  }

  &-spinning {
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
