@import '../../style/vars.less';

@popupPrefix: dora-popup;

.@{popupPrefix} {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: @popup-zindex;
  pointer-events: none; // amazing! 为none时可以产生点透的效果

  .@{popupPrefix}-mask {
    display: none; // mask 默认隐藏
    overflow: hidden;
    background-color: @fill-mask;
    pointer-events: auto;
    position: absolute;
    width: 100%;
    height: 100%;

    // fix some android webview opacity render bug
    &::before {
      content: '.';
      display: block;
      width: 1px;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
      margin-left: -10px;
    }
  }

  &__mask {
    pointer-events: auto;
    .@{popupPrefix}-mask {
      display: block; // 根类具有mask属性时展示mask
    }
  }

  .@{popupPrefix}-content {
    color: @color-text-base-inverse;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    pointer-events: auto;
    -webkit-overflow-scrolling: touch; /* ios5+ */
    ::-webkit-scrollbar {
      display: none;
    }
  }

  &__left,
  &__right,
  &__center {
    .@{popupPrefix}-content {
      width: auto;
      max-width: 100%;
    }
  }

  &__left,
  &__right {
    .@{popupPrefix}-content {
      height: 100%;
    }
  }

  &__center {
    display: flex;
    justify-content: center;
    align-items: center;
    &-fix {
      .@{popupPrefix}-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__right {
    .@{popupPrefix}-content {
      right: 0;
    }
  }

  &__bottom {
    .@{popupPrefix}-content {
      bottom: 0;
    }
  }
}
